* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none !important;
}
::selection {
  color: #fff;
  background: $primaryColor;
}

body {
  color: #111;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #fff;
  font-family: "Poppins", Roboto, sans-serif;
}

a {
  color: $mainColor;
  text-decoration: none;

  &:not(.btn):hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 10px 0;
  // font-family: 'Nunito Sans', Roboto, sans-serif;
}

p {
  color: rgba(17, 17, 17, 0.8);
}

img {
  width: 100%;
}
img.icon {
  max-width: 200px;
}

// REUSABLE CLASS
._flex {
  display: flex;
  align-items: center;
}
._flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  align-items: center;
}
._hide {
  display: none;
}
.nonScroll {
  overflow: hidden;
}

.social_media {
  width: 100%;
  justify-content: space-around;
  a {
    color: #fff;
    margin: 12px;
    font-size: 20px;
    transition: color 0.6s;
    &:hover {
      color: $primaryColor !important;
    }
  }
}

/* Underline From Left */
.menu_item a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.menu_item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu_item a:hover:before,
.menu_item a:focus:before,
.menu_item a.active:before {
  right: 0;
}

// ANIMATIONS
@keyframes _fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
