// HEADER
header {
  width: 100%;
  position: absolute;
  padding: 12px 6px;

  .navbar {
    transition: 0.2s;

    .navbar-brand img {
      width: 58px;
    }
    .navbar-toggler {
      border: none !important;
      box-shadow: none !important;
      font-size: 35px;
      color: #fff;
      padding-right: 0;
    }
    .navbar-collapse .nav-link {
      color: rgba(255, 255, 255, 0.9);
      padding: 6px;
      margin-left: 14px;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.2px;

      &:hover {
        color: $mainColor;
        text-decoration: none;
      }
      &.active {
        color: $mainColor;
      }
    }
  }
}

// FOOTER
footer {
  color: #fff;
  padding: 48px 12px;
  background: rgb(12, 13, 15);

  .backToTop {
    display: inline-block;
    color: #fff;
    font-size: 38px;
    padding: 12px;
    position: relative;
    top: -24px;
    cursor: pointer;
  }
  .contact_info {
    p,
    a {
      color: rgba(255, 255, 255, 0.75);
    }
    a {
      text-decoration: underline;
    }
  }
}

/* RESPONSIZE CSS */
@media (max-width: 767px) {
  #header .navbar-collapse .navbar-nav {
    // background: #fff;
    background: #29292c;
    margin-top: 16px;

    .nav-link {
      // color: #222;
      display: block;
      padding: 16px;
      margin: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      &:last-of-type {
        border: none;
      }
    }
  }
}
