@import "./config";
@import "./base";
@import "./layout";

.hero {
  color: #fff;
  padding: 60px 0 30px;
  min-height: 58vh;
  background: rgb(14, 16, 20);

  ._heading {
    font-size: calc(1.42rem + 2.1vw);
    font-weight: 600;
    line-height: 1.2;
  }
  ._sub_heading {
    color: $primaryColor;
    font-size: 20px;
  }
  .desc_text {
    padding: 6px 0;
    font-size: 1.05rem;
    color: rgba(255, 255, 255, 0.72);
  }
  .cta .btn {
    padding: 8px 35px;
    border-radius: 0px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}

section {
  padding: 58px 5px 78px;
}
.section_heading {
  text-align: center;
  margin-bottom: 35px;

  .title_ {
    color: $mainColor;
    font-size: 16px;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: "";
      width: 60px;
      height: 2px;
      position: absolute;
      background: $mainColor;
      bottom: -14px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .heading_sub {
    line-height: 32px;
    margin-top: -10px;
    font-weight: 500;
    padding: 10px;
    text-transform: capitalize;
  }
}

#portfolio {
  padding: 85px 6px 98px;

  .card {
    text-align: center;
    border-radius: 0;
    border-color: #f5f5f5;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);

    img {
      width: 100%;
      height: 280px;
      object-fit: fill;
      border: 1px solid #f8f8f8;
    }
    .project_link {
      padding: 0 6px;
      margin-top: 0 !important;
      // text-decoration: underline;
      .bi {
        padding-left: 2px;
      }
    }
    .tech_used {
      display: block;
      // display: none;
      font-size: 15px;
      color: rgba(34, 34, 34, 0.95);
      margin-top: 12px;

      b {
        font-weight: 500;
      }
    }
  }
}

// Responsive
@include mobile {
  #portfolio .card-body {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@include pc {
  #hero {
    height: 100vh;
    max-height: 840px;
  }
}
